.productos-container{
    max-width: 900px;
    margin: 40px auto;
}
.my-container {
    max-width: 800px;
    margin: 0 auto;
}
.bg-NavBar {
    background-color: aliceblue;
}
.NavBar-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;

display: flex;
justify-content: space-between;
align-items: center;
}

.NavBar-title{
    font-size: 30px;
    font-weight: 700;

}

.header{
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NavBar-navlink {
    font-size: 18px;
    font-weight: 700;
    color: blue;
}

ul {
    display: flex;
    padding: 0;
    margin: 0 800px;
    list-style: none;
    align-items: auto;
}
.pequeña{
    width: 150px;
    height: 150px;
  }